name: Release go-pjproject

on:
  push:
    branches:
      - main
    paths:
      - 'VERSION'

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/main')
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Tag
        run: |
          git config --global user.email "$(git show -s --format='%ce' HEAD)"
          git config --global user.name "$(git show -s --format='%cn' HEAD)"

          VERSION=$(cat VERSION)
          if git rev-parse "$VERSION" >/dev/null 2>&1; then
            echo "Tag v$VERSION already exists, skipping tag creation."
          else
            git tag "$VERSION" -m "Release v$VERSION"
            git push origin "$VERSION"
            echo "Tag v$VERSION created and pushed."
          fi

  release:
    runs-on: ubuntu-latest
    needs: 
      - tag
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
